<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <% if(typeof error !== "undefined") { %>
                        <div class="row teal lighten-4">
                            <div class="col s12">
                                <p class="center-align"><%=error %></p>
                            </div>
                        </div>
                    <% } %>
                    <span class="card-title">ToDo list</span>
                    <div class="row">
                        <form class="col s12" method="post" action="/">
                            <% if(typeof editing !== "undefined") { %>
                                <input type="hidden" name="editing-task-id" value="<%= editing %>" />
                            <% } %> 
                            <div class="row">
                                <div class="input-field col s12">
                                    <% if(typeof editing === "undefined") { %>
                                        <input placeholder="Task" id="task" type="text" name="task">
                                        <label for="task">Insert Task</label>
                                    <% } else { %>
                                        <input placeholder="Task" id="task" type="text" name="task" value="<%=tasks.filter(i => i.id == parseInt(editing))[0].task%>">
                                        <label for="task">Update Task</label>
                                    <% } %>
                                </div>
                            </div>
                            <% if(typeof editing === "undefined") { %>
                                <input class="btn" type="submit" value="Add Task">
                            <% } else { %>
                                <input class="btn" type="submit" id="update" name="update" value="Update Task">
                                <input class="btn" type="button" value="Cancel" onclick="window.location.href='/'">
                            <% } %>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    <ul class="collection">
                        <% tasks.forEach(function(task){ %>
                            <% console.log(task, "ba") %>
                            <li class="collection-item"><%= task.task %>
                            <a href="delete-task/<%= task.id %>" class="secondary-content"> <i class="material-icons">delete</i></a>
                            <a href="edit-task/<%= task.id %>" class="secondary-content"> <i class="material-icons">edit</i></a></li>
                        <% }) %>
                    </ul>
                    <input class="btn" type="submit" value="Clear all" onclick="window.location.href='/delete-tasks/'">
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>